[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "==0.13.9"
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "==2.2.2"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
faker = "*"
pytest = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
cloudinary = "*"
gunicorn = "*"
honcho = "*
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
